header {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.flex {
  display: flex;
}

.day__body__flex {
  margin: 5px;
  padding: 5px;
}

.flex__item__date {
  flex: 0 1 100px;
}

.flex__item__sched {
  flex: 1 1;
  border: 2px solid #eee;
  border-radius: 10px;
}

.flex__item__sched__lesson {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.lesson__time {
  flex: 0 2 150px;
  padding: 20px;
}

.lesson__item {
  flex: 1 1 200px;
}